*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
=========================
Semantic Parent Sections 
=========================
*/

.fylo-header
{
    background: olivedrab;
}

.fylo-main
{
    background: paleturquoise;
    height: 100vw;
}


.fylo-footer
{
    background: grey;
    width: 100%;
    height: auto;
    padding: 50px;
}

/* 
===================================
Header Semantic Section & Children
===================================
*/

/* 
===============================
Main Semantic Section Children
===============================
*/

.main-up
{
    border: gold 5px solid;
    width: 100%;
    height: 80%;
}

.main-mid
{
    border: 2px solid fuchsia;
}

.main-low
{
    display: flex;
    border: red 5px solid;
    height: 20%;
}

/* 
==========================
Footer Section & Children
==========================
*/