*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
=========================
Semantic Parent Sections 
=========================
*/

.fylo-header
{
    background: olivedrab;
    height: 14vh;
}

.fylo-main
{
    background: paleturquoise;
    height: 100vw;
}


.fylo-footer
{
    background: grey;
    width: 100%;
    height: auto;
    padding: 50px;
}

/* 
===================================
Header Children
===================================
*/

.fylo-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* 
===============================
Main Semantic Section Children
===============================
*/

.main-up, .main-mid, .main-low
{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Captures all article tags */
#main-text 
{
    width: 40%;
}

.main-up
{
    border: gold 5px solid;
    width: 100%;
    height: 35%;
}

.pic1, .pic2 
{
    width: 45%;
    height: auto;
}

/* ------------------  */
/*     Nav Children    */
/* ------------------- */

.fylo-nav a, li
{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.fylo-nav img
{
    
}

/* ------------------  */
/* Main-Upper Children */
/* ------------------- */

.main-mid
{
    border: 2px solid fuchsia;
    height: 50%;
}

/* -------------------- */
/* Main-Middle Children */
/* -------------------- */

.main-low
{
    border: red 5px solid;
    height: 15%;
}

.canvas-placeholder
{
    border: 2px solid red;
    height: 200px;
    width: 400px;
}

/* -----------------  */
/* Main-Low Children  */
/* -----------------  */

.lower-article
{
    margin-right: 10px;
    width: 25%;
}

.submission-div
{
    height: 100px; 
    width: 30%;
}

.submission-div > *
{
    margin: 3px;
}

.submission-div > input
{
    min-height: 40px; 
    width: 100%;
}

.submission-div > .submit-btn
{
    min-height: 40px; 
    width: 40%;
}



/* 
==========================
Footer Children
==========================
*/